* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	/* Sets the font size to 16px */
	line-height: 1.6;
	/* Sets the line-height to 1.6 */
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

h2 {
	font-size: 24px;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	font-weight: 700;
}

a {
	color: #green;
}

a: visited {
	color: blue;
}

a:hover {
	color: orange;
	text-decoration: green wavy underline;
}

a:focus {
	outline: 4px solid green;
}

button {
	/* overwrites browser defaults and resets the border */
	border: none;
	color: black;
	/* takes the font from the outer container */
	font-family: inherit;
	/* styles the background color, font color, and text decoration (underline, etc.) of the button */
	/* background-color: darkgray; */
	color: white;
	text-decoration: underline;
	/*adds spacing to the button (this will be discussed more in-depth later) */
	padding: 10px;
	border-radius: 100px;
	/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button: hover {
	background-color: purple;
	text-decoration: underline;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

button: active {
	background-color: green;
	text-decoration: underline;
}

button: focus {
	background-color: red;
}

.profile {
	max-width: 700px;
	margin: 0 auto;
}

.profile__portrait {
	float: left;
	width: 250px;
	margin-right: 40px;
	margin-left: 10px;
	border-radius: 50%;
}

.page-footer {
	clear: both;
	margin: 0 auto;
}

#container {
	width: 100%;
	display: flex;
}

#container div {
	box-sizing: border-box;
	text-align: center;
	border: 5px solid blue;
	margin: 10px;
	min-height: 100px;
	flex-basis: 200px;
}
